
/* Обнулення стилів */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

a {
    text-decoration: none;
}
/* Загальні стилі */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}
/* Спільний контейнер */
.container {
    max-width: 1440px;
    margin: 0 auto;
    /* margin-right: 141px; */
    margin-left: 141px;
}

/* Шапка сторінки */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}


.menu-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding-left: 76px;
}

.menu-item .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
    color: #404bbf;
}

.communication {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 332px;
    font-style: normal;
}

.com-list {
    display: flex;
    gap: 40px;
}

.com-item .com-link {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.com-item .com-link:hover,
.com-item .com-link:focus {
    color: #404bbf;
}

