
/* Обнулення стилів */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

a {
    text-decoration: none;
}
/* Загальні стилі */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    max-width: 1440px;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

img {
    display: block;
}


/* Спільний контейнер */
.container {
    max-width: 1128px;
    margin-left: 141px;
    margin-right: 141px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Шапка сторінки */
.page-header  {
    border-bottom: 1px solid #e7e9fc;
    /* padding-top: 24px; */
    /* padding-bottom: 24px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.page-header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/* Логотип */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
}

.logo-studio {
    color: #2e2f42;
}

/* Меню навігації */
.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-list {
    display: flex;
    gap: 40px;
    padding-left: 76px;
}

.menu-list .menu-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menu-item .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
    color: #404bbf;
}

/* Зв'язок */
.communication {
    display: flex;
    padding-left: 274px;
}

.com-list {
    display: flex;
    gap: 40px;
}

.com-item .com-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.com-item .com-link:hover,
.com-item .com-link:focus {
    color: #404bbf;
}

/* Перша секція Заголовок */
.main-image {
    background-color: #2e2f42;
    min-height: 100vh;
}

.main-title {
    padding-top: 188px;
}

/* Кнопка */
.service {
    margin-top: 48px;
    margin-left: 494.5px;
    padding: 16px 32px;
    background-color: #4d5ae5;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.service:hover,
.service:focus {
    background-color: #404bbf;
}

/* Друга секція */
.adventages {
    /* min-height: 100vh; */
    padding-top: 120px;
    padding-bottom: 120px;
}

.adventages-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    /* width: calc((100% - 72px) / 4); */
}

.adventages-title {
    margin-bottom: 8px;
}

/* Треття секція */
.our-team {
    background-color: #f4f4fd;
    min-height: 100vh;
    padding-top: 120px;
}

.team-title {
    padding-bottom: 72px;
}

.team-card {
    background-color: #ffffff;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.card-title-one {
    padding-top: 32px;
    padding-left: 65px;
    padding-bottom: 8px;
}

.card-subtitle-one {
    padding-left: 68px;
}

.card-title-two {
    padding-top: 32px;
    padding-left: 88px;
    padding-bottom: 8px;
}

.card-subtitle-two {
    padding-left: 60px;
}

.card-title-thre {
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 67px;
}

.card-subtitle-thre {
    padding-left: 94.5px;
}

.card-title-four {
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 68.5px;
}

.card-subtitle-four {
    padding-left: 89.5px;
}
