
/* Обнулення стилів */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

/* Загальні стилі */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Спільний контейнер */
.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

/* Шапка Головної сторінки */
.page-header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.header-container {
    display: flex;
}

/* Меню навагації */
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.menu-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding-left: 76px;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
    color: #404bbf;
}

/* Зв'язок */
.communication {
    display: flex;
    padding-left: 332px;
}

.com-list {
    display: flex;
    gap: 40px;
}

.com-link {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.com-item .com-link:hover,
.com-item .com-link:focus {
    color: #404bbf;
}

/* Перша секція - 1 */
.hero-image {
    background-color: #2e2f42;
    padding-bottom: 292px;
}



.hero-title {
    max-width: 496px;
    margin-left: 331px;
    padding-top: 188px;
}

.service {
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    margin-left: 494.5px;
}


